@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    margin:0;
    padding:0;
}

.titulo{
    font-family:'Kalam', cursive;
}

.navbar-brand{
    font-family: 'Montez', cursive;
    font-size: 3.5rem !important;
    text-decoration: none;
    color:antiquewhite;
}

.elementosfooter{
    font-family: 'Kalam', cursive;
    font-size: 1.5rem !important;
    text-decoration: none !important;
    color:antiquewhite !important;
    border: 1rem !important;
    margin: 2rem; 
}

body{
    background-color: rgb(171, 136, 204)!important;
}

footer{
    text-align:center !important;
    justify-content: space-between !important;
}